- provide(:title, 'About')
%h1 About this project
%p
  %a{:href => "http://www.nashvillesoftwareschool.com"} Nashville Software School
  is a 6 month bootcamp for web developers. The first half focuses on 'front end' skills, including HTML, CSS and Javascript. The second half teaches 'back end' skills based around Ruby and Ruby on Rails. This app is a capstone project for the second half of the course.
