<% provide(:title, 'Home') %>
<h1>ひらめく</h1>
<p>Welcome to hirameku. Hirameku means 'flash'; this is a flash card app. If you're studying for the
  <a href://www.jlpt.jp/e/>JLPT exam</a>, you can use this site to practice your vocab and kanji skills, two major parts of the test. Hirameku randomly tests you on words you haven't yet mastered. By the way, it's free!</p>